<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<listAttribute key="Mpath">
<listEntry value="C:\Users\EAI\AnypointStudio\workspace\munittest\src\test\munit\munittest-test-suite.xml"/>
</listAttribute>
<stringAttribute key="Ppath" value="C:\Users\EAI\AnypointStudio\workspace\munittest"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.8.5.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="munittest"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="munittest-test-suite.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="munittest"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&#13;&#10;-DmunitProjectName=munittest&#13;&#10;-Dlog4j.skipJansi=true"/>
<stringAttribute key="resource" value="munittest-test-suite.xml"/>
</launchConfiguration>
